com.topsun.posclient.finance/src/com/topsun/posclient/finance/webservice/financeWebService.wsdl

<wsdl:definitions xmlns:ns1="http://schemas.xmlsoap.org/soap/http"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.pos.webservice.topsunit.com/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	name="IFinanceServiceService" targetNamespace="http://service.pos.webservice.topsunit.com/">
	<wsdl:types>
		<xs:schema xmlns:ns1="http://com.topsun.posclient/PayRecordDTO"
			xmlns:tns="http://service.pos.webservice.topsunit.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema"
			elementFormDefault="unqualified" targetNamespace="http://service.pos.webservice.topsunit.com/"
			version="1.0">
			<xs:import namespace="http://com.topsun.posclient/PayRecordDTO" />
			<xs:element name="data" type="ns1:PayRecordDTO" />
			<xs:element name="saveStorePay" type="tns:saveStorePay" />
			<xs:element name="saveStorePayResponse" type="tns:saveStorePayResponse" />
			<xs:complexType name="saveStorePay">
				<xs:sequence>
					<xs:element minOccurs="0" name="payRecordDTO" type="ns1:PayRecordDTO" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="payRecord">
				<xs:sequence>
					<xs:element minOccurs="0" name="account" type="xs:string" />
					<xs:element name="amount" type="xs:double" />
					<xs:element minOccurs="0" name="approve" type="xs:string" />
					<xs:element minOccurs="0" name="approveDate" type="xs:string" />
					<xs:element minOccurs="0" name="bankName" type="xs:string" />
					<xs:element minOccurs="0" name="id" type="xs:string" />
					<xs:element minOccurs="0" name="payDate" type="xs:string" />
					<xs:element minOccurs="0" name="payer" type="xs:string" />
					<xs:element minOccurs="0" name="remark" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="saveStorePayResponse">
				<xs:sequence>
					<xs:element minOccurs="0" name="syncData" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
		<xs:schema xmlns:ns1="http://service.pos.webservice.topsunit.com/"
			xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://com.topsun.posclient/PayRecordDTO"
			version="1.0">
			<xs:import namespace="http://service.pos.webservice.topsunit.com/" />
			<xs:complexType name="PayRecordDTO">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="payRecord"
						type="ns1:payRecord" />
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="saveStorePay">
		<wsdl:part element="tns:saveStorePay" name="parameters"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="saveStorePayResponse">
		<wsdl:part element="tns:saveStorePayResponse" name="parameters"></wsdl:part>
	</wsdl:message>
	<wsdl:portType name="IFinanceService">
		<wsdl:operation name="saveStorePay">
			<wsdl:input message="tns:saveStorePay" name="saveStorePay"></wsdl:input>
			<wsdl:output message="tns:saveStorePayResponse" name="saveStorePayResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="IFinanceServiceServiceSoapBinding"
		type="tns:IFinanceService">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="saveStorePay">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="saveStorePay">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="saveStorePayResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="IFinanceServiceService">
		<wsdl:port binding="tns:IFinanceServiceServiceSoapBinding"
			name="IFinanceServicePort">
			<soap:address location="http://localhost:22088/financeWebService" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>