com.topsun.posclient.common.core/src/com/topsun/posclient/common/webservice/PosWebService.wsdl

<wsdl:definitions xmlns:ns1="http://schemas.xmlsoap.org/soap/http"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.pos.webservice.topsunit.com/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	name="IPosWebServiceService" targetNamespace="http://service.pos.webservice.topsunit.com/">
	<wsdl:types>
		<xs:schema xmlns:tns="http://service.pos.webservice.topsunit.com/"
			xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified"
			targetNamespace="http://service.pos.webservice.topsunit.com/"
			version="1.0">
			<xs:element name="downloadCashierModeData" type="tns:downloadCashierModeData" />
			<xs:element name="downloadCashierModeDataResponse" type="tns:downloadCashierModeDataResponse" />
			<xs:element name="downloadItemData" type="tns:downloadItemData" />
			<xs:element name="downloadItemDataResponse" type="tns:downloadItemDataResponse" />
			<xs:element name="downloadShopData" type="tns:downloadShopData" />
			<xs:element name="downloadShopDataResponse" type="tns:downloadShopDataResponse" />
			<xs:element name="downloadUserData" type="tns:downloadUserData" />
			<xs:element name="downloadUserDataResponse" type="tns:downloadUserDataResponse" />
			<xs:element name="saveAdjustRepository" type="tns:saveAdjustRepository" />
			<xs:element name="saveAdjustRepositoryResponse" type="tns:saveAdjustRepositoryResponse" />
			<xs:element name="saveAdjustShop" type="tns:saveAdjustShop" />
			<xs:element name="saveAdjustShopResponse" type="tns:saveAdjustShopResponse" />
			<xs:element name="savePartSales" type="tns:savePartSales" />
			<xs:element name="savePartSalesResponse" type="tns:savePartSalesResponse" />
			<xs:element name="savePayment" type="tns:savePayment" />
			<xs:element name="savePaymentResponse" type="tns:savePaymentResponse" />
			<xs:element name="saveReceive" type="tns:saveReceive" />
			<xs:element name="saveReceiveResponse" type="tns:saveReceiveResponse" />
			<xs:element name="saveShopPay" type="tns:saveShopPay" />
			<xs:element name="saveShopPayResponse" type="tns:saveShopPayResponse" />
			<xs:complexType name="downloadShopData">
				<xs:sequence>
					<xs:element minOccurs="0" name="userCredential" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="downloadShopDataResponse">
				<xs:sequence>
					<xs:element minOccurs="0" name="return" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="downloadCashierModeData">
				<xs:sequence>
					<xs:element minOccurs="0" name="userCredential" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="downloadCashierModeDataResponse">
				<xs:sequence>
					<xs:element minOccurs="0" name="return" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="saveReceive">
				<xs:sequence>
					<xs:element minOccurs="0" name="receiveDTO" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="saveReceiveResponse">
				<xs:sequence>
					<xs:element minOccurs="0" name="return" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="saveShopPay">
				<xs:sequence>
					<xs:element minOccurs="0" name="payRecordDTO" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="saveShopPayResponse">
				<xs:sequence>
					<xs:element minOccurs="0" name="return" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="savePayment">
				<xs:sequence>
					<xs:element minOccurs="0" name="paymentDTO" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="savePaymentResponse">
				<xs:sequence>
					<xs:element minOccurs="0" name="return" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="saveAdjustRepository">
				<xs:sequence>
					<xs:element minOccurs="0" name="adjustRepositoryDTO"
						type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="saveAdjustRepositoryResponse">
				<xs:sequence>
					<xs:element minOccurs="0" name="return" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="saveAdjustShop">
				<xs:sequence>
					<xs:element minOccurs="0" name="adjustShopDTO" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="saveAdjustShopResponse">
				<xs:sequence>
					<xs:element minOccurs="0" name="return" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="downloadItemData">
				<xs:sequence>
					<xs:element minOccurs="0" name="userCredential" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="downloadItemDataResponse">
				<xs:sequence>
					<xs:element minOccurs="0" name="return" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="downloadUserData">
				<xs:sequence>
					<xs:element minOccurs="0" name="userCredential" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="downloadUserDataResponse">
				<xs:sequence>
					<xs:element minOccurs="0" name="return" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="savePartSales">
				<xs:sequence>
					<xs:element minOccurs="0" name="partSalesDTO" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="savePartSalesResponse">
				<xs:sequence>
					<xs:element minOccurs="0" name="return" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="savePartSales">
		<wsdl:part element="tns:savePartSales" name="parameters"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="saveShopPay">
		<wsdl:part element="tns:saveShopPay" name="parameters"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="savePaymentResponse">
		<wsdl:part element="tns:savePaymentResponse" name="parameters"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="downloadItemData">
		<wsdl:part element="tns:downloadItemData" name="parameters"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="savePayment">
		<wsdl:part element="tns:savePayment" name="parameters"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="saveAdjustShop">
		<wsdl:part element="tns:saveAdjustShop" name="parameters"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="saveAdjustRepositoryResponse">
		<wsdl:part element="tns:saveAdjustRepositoryResponse" name="parameters"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="savePartSalesResponse">
		<wsdl:part element="tns:savePartSalesResponse" name="parameters"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="downloadCashierModeDataResponse">
		<wsdl:part element="tns:downloadCashierModeDataResponse"
			name="parameters"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="saveReceive">
		<wsdl:part element="tns:saveReceive" name="parameters"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="downloadUserData">
		<wsdl:part element="tns:downloadUserData" name="parameters"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="saveAdjustRepository">
		<wsdl:part element="tns:saveAdjustRepository" name="parameters"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="saveShopPayResponse">
		<wsdl:part element="tns:saveShopPayResponse" name="parameters"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="downloadItemDataResponse">
		<wsdl:part element="tns:downloadItemDataResponse" name="parameters"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="saveAdjustShopResponse">
		<wsdl:part element="tns:saveAdjustShopResponse" name="parameters"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="downloadUserDataResponse">
		<wsdl:part element="tns:downloadUserDataResponse" name="parameters"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="downloadShopDataResponse">
		<wsdl:part element="tns:downloadShopDataResponse" name="parameters"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="downloadShopData">
		<wsdl:part element="tns:downloadShopData" name="parameters"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="downloadCashierModeData">
		<wsdl:part element="tns:downloadCashierModeData" name="parameters"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="saveReceiveResponse">
		<wsdl:part element="tns:saveReceiveResponse" name="parameters"></wsdl:part>
	</wsdl:message>
	<wsdl:portType name="IPosWebService">
		<wsdl:operation name="downloadShopData">
			<wsdl:input message="tns:downloadShopData" name="downloadShopData"></wsdl:input>
			<wsdl:output message="tns:downloadShopDataResponse" name="downloadShopDataResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="downloadCashierModeData">
			<wsdl:input message="tns:downloadCashierModeData" name="downloadCashierModeData"></wsdl:input>
			<wsdl:output message="tns:downloadCashierModeDataResponse"
				name="downloadCashierModeDataResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="saveReceive">
			<wsdl:input message="tns:saveReceive" name="saveReceive"></wsdl:input>
			<wsdl:output message="tns:saveReceiveResponse" name="saveReceiveResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="saveShopPay">
			<wsdl:input message="tns:saveShopPay" name="saveShopPay"></wsdl:input>
			<wsdl:output message="tns:saveShopPayResponse" name="saveShopPayResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="savePayment">
			<wsdl:input message="tns:savePayment" name="savePayment"></wsdl:input>
			<wsdl:output message="tns:savePaymentResponse" name="savePaymentResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="saveAdjustRepository">
			<wsdl:input message="tns:saveAdjustRepository" name="saveAdjustRepository"></wsdl:input>
			<wsdl:output message="tns:saveAdjustRepositoryResponse"
				name="saveAdjustRepositoryResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="saveAdjustShop">
			<wsdl:input message="tns:saveAdjustShop" name="saveAdjustShop"></wsdl:input>
			<wsdl:output message="tns:saveAdjustShopResponse" name="saveAdjustShopResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="downloadItemData">
			<wsdl:input message="tns:downloadItemData" name="downloadItemData"></wsdl:input>
			<wsdl:output message="tns:downloadItemDataResponse" name="downloadItemDataResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="downloadUserData">
			<wsdl:input message="tns:downloadUserData" name="downloadUserData"></wsdl:input>
			<wsdl:output message="tns:downloadUserDataResponse" name="downloadUserDataResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="savePartSales">
			<wsdl:input message="tns:savePartSales" name="savePartSales"></wsdl:input>
			<wsdl:output message="tns:savePartSalesResponse" name="savePartSalesResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="IPosWebServiceServiceSoapBinding"
		type="tns:IPosWebService">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="downloadShopData">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="downloadShopData">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="downloadShopDataResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="downloadCashierModeData">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="downloadCashierModeData">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="downloadCashierModeDataResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="saveReceive">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="saveReceive">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="saveReceiveResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="saveShopPay">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="saveShopPay">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="saveShopPayResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="savePayment">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="savePayment">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="savePaymentResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="saveAdjustRepository">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="saveAdjustRepository">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="saveAdjustRepositoryResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="saveAdjustShop">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="saveAdjustShop">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="saveAdjustShopResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="downloadItemData">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="downloadItemData">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="downloadItemDataResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="downloadUserData">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="downloadUserData">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="downloadUserDataResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="savePartSales">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="savePartSales">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="savePartSalesResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="IPosWebServiceService">
		<wsdl:port binding="tns:IPosWebServiceServiceSoapBinding"
			name="IPosWebServicePort">
			<soap:address location="http://localhost:22089/posWebService" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>